* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.flex{
  width: 1000px;
  margin: 0 auto;
}

nav {
  width: 780px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
  font-weight: 600;
}
h1 {
  text-align: center;

}
img {
  border-radius: 50%;
  width: 64px;
}
.container {
  display: flex;
  align-items: flex-start;
  width: 780px;
  margin: 0 auto;

}
.user {
  height: 240px;
  border: 3px solid black;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

h5 {
  font-size: 25px;
}
.col {
flex: 1.5;
}

.card {
  border: 3px solid black;
  padding: 10px;

  margin-bottom: 10px;
  margin-left: 6px;
  height: 100px;

}

.card p.top {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}


.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 7px;
}

span.numberoflikes {
  font-weight: bold;
  text-align: center;
}

.likes-btn {
  background-color: #ffd966;
  border: 5px solid black;
  border-width: 4px;  
  width: 50px;
  cursor: pointer;
}

